div#card {
    width: 240px;
    height: 280px;
    position: relative;
    display: flex;
    top: 100px;
    left: 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
form {
    border: 1px solid grey;
    border-radius: 5px;
    
}
input.data {
    margin-top: 20px;
    margin-left: 16px;
    width: 200px;
}
input.geo {
    margin-top: 20px;
    margin-left: -20px;
    width: 80px;
}
input#long{
    margin-right: 40px;
}
button.btnSearch {
    position: relative;
    left: 170px;
    top: -40px;
    text-decoration: underline;
    background: none;
    border: none;
    color: grey;
}
button.btn {
    border: 1px solid grey;
    color: white;
    width: 200px;
    margin-left: 25px;
    margin-left: 25px;
    height: 30px;
}