div#card {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    top: 100px;
    left: 50px;
    background: #d3d3d3;
    border-radius: 20px;
}
form {
    border: 1px solid grey;
    border-radius: 20px;
    
}
input {
    margin-top: 20px;
    margin-left: 25px;
    width: 200px;
}
button.btnSearch {
    position: relative;
    left: 175px;
    top: -20px;
    text-decoration: underline;
    background: none;
    border: none;
    color: grey;
}
button.btn {
    border: 1px solid grey;
    color: white;
    width: 200px;
    margin-left: 25px;
    margin-left: 25px;
    height: 30px;
}