@import url('https://fonts.googleapis.com/css?family=Timmana&display=swap');
header {
    padding: 0;
    font-family: 'Timmana', sans-serif;
    color: gray;
    height: 80px;
    border-bottom: 0.5px solid gray;
}
img#logo{
    margin-top: 20px;
}